@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500&display=swap');

.App {
  text-align: center;
  display: block;
  width: 95vw;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 10vh 0;
}

button, select {
  font-family: Inter, sans-serif;
  padding: 5px;
  margin: 5px;
  border: 1px solid #00f;
  border-radius: 5px;
  color: #00f;
  height: 5vh;
  font-weight: 500;
}

select {
  color: #000;
  border: 1px solid;
}

button:active, button:hover, select:active {
  filter: hue-rotate(90deg);
}

button:hover {
  cursor: pointer;
}

button.loadmore {
  border: none;
}

.pagecount {
  font-size: 1rem;
}

header {
  font-weight: 500;
  margin: 2vh 0;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card {
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px #ccc;
}

.card-header, .card-results {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.card-header {
  color: rgba(0,0,0,0.5);
}

.card-header > * , .card-results > * {
  align-self: flex-start;
  text-align: center;
  font-size: 0.8rem;
  margin: 0 5px;
  overflow: scroll;
  width: 5%;
  max-height: 5vh;
}

.card-results > ul.object  {
  color: #00f;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: scroll;
}
